body {
    background-color: rgb(255, 252, 227);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 115%;
}


header {
    background-color: rgb(206, 206, 206);
    display: flex;
    flex-direction: column;
}

#nav-with-image {
    display: flex;
    grid-template-columns: 80% 20%;
    padding: 20px;
    justify-content: space-around;
}

main {
    background-color: yellow;
}

footer {
    background-color: rgb(206, 206, 206);
}

nav {
    display: inline-block;
    width: 80%;
}

#navimage {
    max-width: 10%;
}

ul {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: flex-end;
    padding: 0px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 125);
    padding: 10px;
    background-color: rgb(206, 206, 206);
}

.gallery {
    display: grid;    
}

.two-per-row {
    grid-template-columns: 50% 50%;
    justify-items: center;
}

.five-per-row {
    grid-template-columns: 20% 20% 20% 20% 20%;
    justify-items: center;
}

img {
    width: 80%;
    height: auto;
    padding: 10px;
    align-self: center;
}