body {
    background-color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@font-face {
    font-family: 'Geist';
    src: url(../css/Geist-Regular.ttf);
}


header {
    display: flex;
    flex-direction: column;
}


footer {
    width: 100%;
    background-color: rgb(46, 46, 46);
    position: fixed;
    overflow: hidden;
    bottom: 0;
    left: 0;
}

footer p {
    margin: 8px;
    text-align: center;
    color: white;
}

footer a {
    color: rgb(117, 184, 255);
}

.nav_content {
    display: flex;
}

#nav-left {
    width: 40%;
    float: left;
    margin-right: 10px;
}


nav {
    display: flex;
    width: 100%;
    gap: 4px;
    flex-direction: column;

}

.nav-item a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(0, 100, 27);
}

.nav-item :hover {
    text-decoration: underline;
}

section {
    position: relative;
    top: -16px;
}


h1 {
    margin-block-start: 0;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    font-size: xx-large;
    font-family: 'Geist';
    color: rgb(10, 10, 10);
}

.gallery {
    display: grid;
}

.two-per-row {
    grid-template-columns: 50% 50%;
    justify-items: center;
}

.five-per-row {
    grid-template-columns: 20% 20% 20% 20% 20%;
    justify-items: center;
}

img {
    width: 70%;
    height: auto;
    padding: 10px;
    align-self: center;
}



.skip {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 1px;
    height: 1px;

    background-color: aliceblue;
    text-decoration: none;

    overflow: hidden;
    z-index: 9999;
}

.skip:focus {
    position: fixed;
    width: auto;
    height: auto;
}
